.card-body {
  display: inline-block; 
  object-fit: contain;
  border-color: black;
  
}

.cardContainer {
  display:inline-flex; 
}

.card-img {
  height: 3rem; 
  width: 3rem; 
  object-fit: contain;

}

.card {
  height: 18rem; 
  width: 18rem; 
  
}

#card-text {
  word-break: break-all;
  display: block;
}