
<header>
  <h1>Movie list</h1>
  <form id="dateSelect"> <!--Date selection-->
  
    
  </form>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addMovieModal">
    Add Movie
  </button>
  
</header>

<body>
  <!--Container for the cards-->
  <div class="container-lg" id="cardContainer">
    <div class="card-group" id="cardGroup">
      {{#each movies}}
      <p>{{this.movies}}</p>
    {{/each}}
    
  <div>